<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/airshow.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.lazyload.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1><%= title %></h1>
        </div>
        <% if (images.length > 0){ %>
          <ul class="thumbnails">
            <% images.forEach(function(image){ %>
              <li class="span2">
                <a href="<%= image.url %>" class="lightbox_trigger">
                  <img data-original="<%= image.previewurl %>" alt="<%= image.name%>" src="images/grey.gif" class="preview lazy">
                  <noscript><img src="<%= image.previewurl %>"></noscript>
                </a>
              </li>
            <% }) %>
          </ul>
        <% } %>
        <hr>
        <div class="footer">
            Displayed by <a href="https://github.com/jmooserific/airshow">Airshow</a>
        </div>
        <div id="lightbox" style="display: none;">
            <div id="lightbox_content"></div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $("img.lazy").show().lazyload();
        
        $('.lightbox_trigger').click(function(e) {
        
            //prevent default action (hyperlink)
            e.preventDefault();
        
            //Get clicked link href
            var image_href = $(this).attr("href");
        
            //place href as img src value
            $('#lightbox_content').html('<img src="' + image_href + '" style="display: none;">');
        
            //show lightbox window - you could use .show('fast') for a transition
            $('#lightbox').fadeIn();
            $('#lightbox_content img').show('fast');
            
        });
        
        $('#lightbox').click(function() {
            $('#lightbox').fadeOut();
        });                
    });
    </script>
  </body>
</html>